* text=auto eol=lf
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.tsv text eol=lf
*.txt text eol=lf
*.gz binary
reference_data/human/*.txt -text -diff
reference_data/human/*.txt.gz binary
